.dev {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ccc;
  overflow: hidden;
  transition: all 650ms ease-in-out;
  z-index: 2;
}

.dev nav ul::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 93%;
  background-image: linear-gradient(
    60deg,
    rgba(15, 17, 87, 0.7),
    rgba(6, 42, 77, 0.7),
    rgba(15, 16, 82, 0.5)
  );
}

.hide .dev {
  max-width: 0;
  max-height: 0;
  transition: all 650ms ease-in-out;
}

.show .dev {
  display: flex;
  max-height: 100vh;
  max-width: 83vw;
  background-image: linear-gradient(
    60deg,
    rgba(15, 17, 87, 0.8),
    rgba(6, 42, 77, 0.8),
    rgba(15, 16, 82, 0.8)
  );
  overflow-y: scroll;
  border-right: 1px solid #eee;
  transition: all 650ms ease-out;
}

.dev nav {
  margin: 0;
  padding: 0;
  max-height: 0;
  max-width: 0;
}

.show .dev nav {
  min-height: 100%;
  min-width: 100%;
}

.dev nav ul {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.show .dev nav ul {
  min-height: 100%;
  min-width: 100%;
}

.dev nav ul li {
  z-index: 3;
  text-align: center;
  padding: 0;
  margin: 0;
  max-width: 0;
  transition: all 850ms ease-in-out;
}

.show .dev nav ul li {
  max-width: 100%;
}

.show .dev nav ul li a {
  font-size: 2rem;
  line-height: 44px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 750;
  color: #f1faeed5;
}
