#About {
  overflow-x: hidden !important;
}

#About .smme {
  position: relative;
  width: 100%;
  height: 100%;
}

#About .smme h2 {
  font-size: 3.2rem;
}

#About .smme h3 {
  position: relative;
  font-size: 3rem;
  text-shadow: 3px 12px 20px #ccc;
}

#About .smme h3::before {
  content: "";
  position: absolute;
  top: 45%;
  left: -150%;
  width: 150%;
  height: 1rem;
  background-color: rgba(255, 255, 0, 0.829);
}

#About .smme h3::after {
  content: "";
  position: absolute;
  top: 45%;
  right: -150%;
  width: 150%;
  height: 1rem;
  background-color: rgba(255, 255, 0, 0.829);
}

#About .smab {
  position: relative;
}

#About .smab > p {
  background-color: #616b703b;
  color: #ccc;
}

#About .smab .smabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../asset/bg/darkorangewood.jpg");
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#About .smab .smabs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-180deg, #222831, #393e46, #596e79);
  opacity: 0.7;
}

#About .smlanguages p {
  position: relative;
  background-color: #616b703b;
  margin: 0.5rem 0.3rem 0.5rem 0;
  color: #ccc;
  border: 1.5px solid #ccc;
}
