nav {
  top: 0;
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
  background-color: #2c3e50;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  max-height: 5rem;
  border-bottom: solid rgba(230, 212, 230, 0.933) 2px;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.logo {
  font-size: 2.7rem;
  position: relative;
  color: #ccc;
}
.logo::before {
  content: "";
  position: absolute;
  background-image: url("../../../asset/star.png");
  background-position: center;
  background-repeat: no-repeat;
  right: -3.5rem;
  width: 60px;
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  width: 75%;
  justify-content: space-around;
}

nav ul li {
  padding: 0;
  margin: 0;
}

nav ul li a {
  font-weight: 750;
  font-size: 1.3rem;
  position: relative;
  letter-spacing: 3px;
  color: #f1faee;
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: calc(100% + 18px);
  transform: scale(0);
  transform-origin: left;
  bottom: -3px;
  height: 2px;
  background-color: #a8dadc;
  transition: 350ms ease-in-out 20ms;
}

nav ul li a:hover::before {
  transform-origin: right;
  transform: scale(1);
}
