* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 17px;
  outline: none !important;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
::-webkit-scrollbar {
  display: none;
}

a,
button,
li,
ul {
  list-style: none;
  user-select: none;
  text-decoration: none;
}

body {
  background-image: linear-gradient(90deg, #222831, #393e46, #596e79);
}
