@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  letter-spacing: 1.7px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

body img {
  -webkit-user-drag: none;
}

body section {
  min-height: 70vh;
}

footer {
  position: relative;
  padding: 2em;
  display: flex;
  color: #fff;
  flex-direction: column;
  z-index: 2;
}

ul.social__media {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 15px;
}
ul.social__media li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}
ul.social__media li a {
  background-color: transparent;
  font-size: 30px;
  text-align: center;
}

ul.social__media li a i {
  color: #ccc;
}
